@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
:root {
    --line-of-chars:40;
    --font-size: calc(100vw / (var(--line-of-chars)))
}
body, input, textarea {
    font-size: var(--font-size);
}
textarea {
    width: 99%;
    height: calc(var(--font-size) * 8)
}
img.icon {
    width: 1em;
    height: 1em;
}
